
.button{
	letter-spacing: 0.5px;
	padding: 16px 40px;
	font-weight: 700;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	color: #fff;
	position: relative;
}
.button span{
	position: relative;
	z-index: 2;
}

.button::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: linear-gradient(55.95deg, #8a221e 0%, #a33e04 100%);
	border-radius: 4px;
	opacity: 0;
	transition: all 0.3s ease 0s;
}

.button:hover::before{
	opacity: 1;
	box-shadow: 0px 2px 10px 5px #8a221e;
}

.button--border{
	background: transparent;
	color: #FF3F3A;
	border: 1px solid #FF3F3A;
	padding: 15px 40px ;
	transition: color 0.1s ease 0s;
}
.button--border:hover{
	color: #fff;

}

.subtitle{
font-weight: 700;
line-height: 1.5;
letter-spacing: 1px;
color: #1E212C;

}
.title{
font-weight: 900;
font-size: 46px;
line-height: 1.3;
color: #1E212C;

}