body{
	padding: 300px 0px;
}
.wrapper{
	position: relative;
}
.header{
	background-color: rgb(216, 216, 216);
	padding: 30px;
	position: fixed;
	top: 0px;
	z-index: 100;
	width: 100%;
}
.header__container{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}
.header__item{
	position: relative;
	left: -200px;
	display: inline-block;
}
.header__menu{
	display: inline-block;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 5px;
	text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.444);
}
.header__burger{
	display: inline-block;
	width: 80px;
	position: absolute;
	top: -12px;
}
.burger__item-top{
height: 10px;
background-color: rgba(80, 81, 82, 0.539);
box-shadow: 0px 0px 6px 2px rgba(80, 81, 82, 0.539);
border-radius: 30px;
margin-bottom: 10px;
}
.burger__item-center{
	height: 10px;
	background-color: rgba(80, 81, 82, 0.539);
	box-shadow: 0px 0px 6px 2px rgba(80, 81, 82, 0.539);
	border-radius: 30px;
	margin-bottom: 10px;
}
.burger__item-bottom{
	height: 10px;
	background-color: rgba(80, 81, 82, 0.539);
	box-shadow: 0px 0px 6px 2px rgba(80, 81, 82, 0.539);
	border-radius: 30px;
}
.header__list{
	position: absolute;
	min-width: 170px;
	padding: 15px;
	top: 20px;
	text-align: center;
	background-color: rgb(163, 185, 199);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px rgb(163, 185, 199);
	opacity: 0;
}
.header__list li{
	color: white;
	letter-spacing: 2px;
}
.header__list li:not(:last-child){
	margin-bottom: 15px;
}
.header__item:hover .header__list{
	opacity: 1;
	left: 0px;
	top: -15px;
	transition: all 0.3s ease-out 0s
}
.car{
	background-color: rgb(205, 198, 198);
	height: 500px;
	position: relative;
}
	.car__vehicle{
	width: 400px;
	height: 250px;
	background-color: rgb(205, 198, 198);
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: left 6s ease-out 0.6s, transform 0.6s ease-out 6s;
}
.vehicle__roof{
	height: 160px;
	width: 60%;
	border: 18px solid rgb(10, 25, 237);
	border-radius: 181px 178px 1px 0px / 150px 149px 65px 0px;
	position: absolute;
	top: 30px;
	left: 75px;
	z-index: 1;
}
	.vehicle__body{
	height: 100px;
	width: 100%;
	background-color: rgb(10, 25, 237);
	border-radius: 206px 201px 68px 66px / 121px 108px 83px 51px;
	position: absolute;
	bottom: 50px;
	z-index: 2;
}
.vehicle__headlights{
	height: 30px;
	width: 30px;
	background-color: rgb(243, 255, 5);
	border-radius: 30px  ;
	position: absolute;
	bottom: 108px;
	right: 5px;
	z-index: 2;
}
.vehicle__ray-of-light{
	height: 80px;
	width: 80px;
	background-color: rgb(243, 255, 5);
	border-radius: 80px 30px 30px  ;
	position: absolute;
	bottom: 90px;
	right: -70px;
	z-index: 4;
	transform: rotate(120deg);
	opacity: 0;
}
.vehicle__rear-lights{
	height: 30px;
	width: 30px;
	background-color: rgba(255, 0, 0, 0.377);
	border-radius: 30px  ;
	position: absolute;
	bottom: 108px;
	left: 0px;
	z-index: 3;
}
.vehicle__front-bumper{
	height: 30px;
	width: 60px;
	background-color: rgb(127, 127, 127);
	border-radius: 30px  ;
	position: absolute;
	bottom: 70px;
	right: -20px;
	z-index: 2;
}
.vehicle__rear-bumper{
	height: 30px;
	width: 60px;
	background-color: rgb(127, 127, 127);
	border-radius: 30px  ;
	position: absolute;
	bottom: 70px;
	left: -20px;
	z-index: 2;
}
.wheel{
	height: 90px;
	width: 90px;
	background-color: rgb(205, 198, 198);
	border-radius: 50px;
	border: 5px dotted black;
	position: absolute;
	bottom: 70px;
	left: -20px;
	z-index: 3;
}
.vehicle__front-wheel{
	bottom: 10px;
	left: 260px;
}
.vehicle__rear-wheel{
	bottom: 10px;
	left: 50px;
}
.wheel__rubber{
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: black;
	border-radius: 50%;
}
.wheel__disk{
	width: 100%;
	height: 100%;
	background-color: rgba(86, 84, 144, 0.647);
	border-radius: 50%;
}
.car:hover .vehicle{
	left: 980px;
	transform: rotateY(180deg);
	transition: left 6s ease-out 0.6s, transform 0.6s ease-out 6s;
}
.car:hover .vehicle__ray-of-light{
	opacity: 0.8;
	transition: all 0.8s ease-out 0s;
}
.car:hover .wheel{
	transform: rotate(3000deg);
	transition: all 6s linear 0.4s;
}

.car:hover .vehicle__rear-lights{
	background-color: rgb(253, 0, 0);
	transition: all 0.1s linear 5.4s;
}
.footer{
	background-color: rgba(40, 40, 40, 0.67);
	position: fixed;
	z-index: 3;
	bottom: 0px;
	min-width: 1700px;
	overflow: hidden;
	padding: 10px;
	color: #fff;
	letter-spacing: 3px;
}
.footer__container{
	position: relative;
	left: 50px;
}
