[class*="__container"]{
	max-width: 810px;
	margin: 0 auto;
}
body{
	font-family: 'Lato';
	padding: 100px 0;
}
.header{
	margin-bottom: 50px;
}
.header__container{
	padding: 0px 50px;
}
.header__logo{
	display: inline-block;
	padding-right: 26px;
	margin-right: 7.4%;
	background: url('../img/vector_logo.png') no-repeat right center;
}
.header__container a{
	display: inline-block;
	line-height: 2.0;
	font-weight: 700;
	font-size: 20px;
	margin-right: 4.5%;
}
.blog{
	color: red;
}
.title__container{
	font-weight: 700;
	font-size: 46px;
	line-height: 1.3;
	margin-bottom: 115px;
}
.about-us__img{
	width: 100%;
	margin-bottom: 30px;
}
.about-us__title{
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 30px;
	color: #1E212C;
}
.about-us__text{
	line-height: 1.6;
	margin-bottom: 45px;
	color: #424551;
}
.about-us__text p{
	margin-bottom: 32px;
}
.about-us__text p:last-child{
	margin-bottom: 0px;
}
.about-us__bold{
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1E212C;
	padding-left: 60px;
	margin-bottom: 48px;
	background: url('../img/rectangle.png') no-repeat, url('../img/rectangle.png') 18px 0px no-repeat;
}
.list{
	line-height: 1.6;
	margin-bottom: 24px;
}
.list__title{
	margin-bottom: 24px;
}
.list__list li{
	margin-bottom: 4px;
	padding-left: 32px;
	background: url('../img/vector.png') no-repeat left center;
}
.list__list li:last-child{
	margin-bottom: 0px;
}
.bottom__container{
line-height: 1.6;
color: #424551;
margin-bottom: 45px;
}
.footer__container{
	text-align: right;
	margin-bottom: -100px;
}
.experiments{
	max-height: 1000px;
	overflow: auto;
	margin: 100px 0px;
	background: url('../img/cat_top.png') center / 200px no-repeat fixed, url('../img/cat_down.png') right bottom / 200px no-repeat, url('../img/nature.png') 0 0 / cover no-repeat fixed;
}
.box{
	background: url('../img/cat.png') left bottom / 150px no-repeat , linear-gradient(45deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 20%,rgba(184,186,198,1) 51%,rgba(184,186,198,1) 72%,rgba(221,223,227,1) 92%,rgba(245,246,246,1) 100%);
	margin-bottom: 80px;
}
.box__container{
	border-radius: 80% 20% 81% 19% / 46% 81% 19% 54% ;
	background: url('../img/nature_2.png') 0 0 / cover no-repeat local;
}

