header{
	margin: -20px 0 20px 0;
	opacity: 0.06;
}
header:hover{
	opacity: 1;
}
body{
	max-width: 853px;
	margin: 0 auto;
	padding: 50px 10px;
	font-family: Lato;
}
h1{
	font-size: 46px;
	font-style: 700;
	line-height: 56px;
	margin-bottom: 100px; ;
}
img{
	max-width: 810px;
	margin-bottom: 50px;
}
.text{
	margin-bottom: 35px;
}
.text__title{
	max-width: 810px;
	margin: 0px 0px 40px -10px;
	font-size: 20px;
	line-height: 1.5;
}
.text__text{
	line-height: 1.6;
	margin-bottom: 50px;
}
.text__text p{
	margin-bottom: 30px;
}
.text__text p:last-child{
	margin-bottom: 0px;
}
.text__right{
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	max-width: 735px;
	margin: 0px 20px 0px auto;
}
.list{
	margin-bottom: 40px;
	line-height: 1.6;
}
.list__title{
	margin-bottom: 20px;
}
.list__list li{
	margin:0px 0px 8px 33px;
}
.list__list li:last-child{
	margin-bottom: 0px;
}
.bottom{
	line-height: 1.6;
}
.circle{
	max-width: 700px;
	min-width: 700px;
	padding: 50px;
	margin-bottom: 100px;
}
.circle-1{
	width: 200px;
	height: 200px;
display: inline-block;
border: 1px solid #000;
border-radius: 100px;
margin-right: -20px;
box-shadow: inset -5px -2px 20px 5px rgb(1, 63, 251), -5px -2px 20px 5px #000;
}
.circle-1:hover{
	box-shadow: inset 0px 0px 30px 8px rgb(1, 63, 251), 0px 0px 30px 20px #000;
}
.circle-2{
	width: 200px;
	height: 200px;
display: inline-block;
border: 1px solid #000;
border-radius: 100px;
margin-left: -20px;
margin-right: -20px;
box-shadow: inset 0px -4px 20px 5px rgba(51, 51, 51, 0.921), 0px -4px 20px 5px #000;
}
.circle-2:hover{
	box-shadow: inset 0px 0px 30px 8px rgba(51, 51, 51, 0.921), 0px 0px 30px 20px #000;
}
.circle-3{
	width: 200px;
	height: 200px;
	display: inline-block;
border: 1px solid #000;
border-radius: 100px;
margin-left: -20px;
box-shadow: inset 2px -5px 20px 5px rgb(244, 62, 2), 2px -5px 20px 5px #000;
}
.circle-3:hover{
	box-shadow: inset 0px 0px 30px 8px rgb(244, 62, 2), 0px 0px 30px 20px #000;
}
.circle-4{
	width: 200px;
	height: 200px;
	display: inline-block;
border: 1px solid #000;
border-radius: 100px;
margin: -60px -20px 0px 80px;
box-shadow: inset -4px 3px 20px 5px rgb(220, 248, 6), -4px 3px 20px 5px #000;
}
.circle-4:hover{
	box-shadow: inset 0px 0px 30px 8px rgb(220, 248, 6), 0px 0px 30px 20px #000;
}
.circle-5{
	width: 200px;
	height: 200px;
	display: inline-block;
border: 1px solid #000;
border-radius: 100px;
margin: -60px 90px 0px -20px;
box-shadow: inset 4px 3px 20px 5px rgb(5, 207, 76), 4px 3px 20px 5px #000;
}
.circle-5:hover{
	box-shadow: inset 0px 0px 30px 8px rgb(5, 207, 76), 0px 0px 30px 20px #000;
}
.question{
margin: 0 auto;
margin-bottom: 100px;
width: 600px;
background-color: antiquewhite;
padding: 20px;
border-top: 1px dashed red;
border-right: 2px dotted blue;
border-bottom: 2px double green;
border-left: 2px solid yellow;
border-radius: 80% 20% 82% 18% / 10% 76% 24% 90% ;
}
.question__question{
	font-size: 20px;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 50px;

}
.answer{
	max-width: 500px;
	margin: 0 auto;
}
.yes{
display: inline-block;
min-height: 60px;
padding: 20px;
text-align: center;
background-color: #fff;
width: 200px;
margin-right: 20px;
border-radius: 30px;
}
.yes:hover{
	box-shadow: 0px 5px 4px 1px #000;
}
.no{
display: inline-block;
min-height: 60px;
padding: 20px;
text-align: center;
background-color: #fff;
width: 200px;
margin-left: 20px;
border-radius: 30px;
}
.no:hover{
	opacity: 0;
}
.button{
margin-bottom: 100px;
max-width: 300px;
background-color: rgb(220, 217, 217);
min-height: 80px;
margin: 0 auto;
padding: 40px;
text-align: center;
text-shadow: 20px;
display: block;
border-radius: 50px;
box-shadow: 0px 1px 4px 1px #000;
}
.button:hover{
	box-shadow: 0px 5px 4px 1px #000;
}
footer{
	text-align: right;
	text-shadow: 2px 2px 3px #000;
}


