@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* ------------------------ */

[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* ------------------------ */
.header, .footer{
	text-align: center;
	text-transform: uppercase;
	color: #D7DADD;
	text-shadow: 1px 2px 2px #000;
	font-size: 14px;
	padding: 15px;
	background-color: #c0c0c01b;
}
/* ------------------------ */
.page__container{
	padding: 50px 0px;
	display: flex;
	gap: 105px;
}

/* ------------------------ */
.page__illustration{
	flex: 0 1 auto;
	align-self: center;
}
.page__img{
	transform: translate(-3.5%, 0px);
	max-width: 103.5%;
}
/* ------------------------ */
.main{
	flex: 0 0 57.3%;
}
.main__subtitle{
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #1E212C;
}
.main__subtitle:not(:last-child){
	margin-bottom: 8px;
}
.main__title{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
}
.main__title:not(:last-child){
	margin-bottom: 40px;
}
/* ------------------------ */
.form__wrapper{
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 24px;
	margin-bottom: 24px;
}
.form__line{
	flex: 0 1 48.269%;
}
.label{
	display: inline-block;
	line-height: 1.6;
	color: #424551;
	margin-bottom: 8px;
}
.input{
	width: 100%;
	border: 1px solid #D7DADD;
	border-radius: 4px;
	padding: 13px 16px;
	line-height: 1.6;
	color: #9A9CA5;
}
.textarea:not(:last-child){
	margin-bottom: 48px;
}
.textarea__input{
	height: 128px;
	resize: none;
}
/* ------------------------ */
.send{
	display: flex;
	gap: 50px;
}

.check{
	flex: 0 1 48%;
	position: relative;
	align-self: center;
}
.check__input{
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
.check__input:checked + .check__label::before {
	background:#fa6f6a url('../img/check.svg') center no-repeat;
	transition: all 0.1s ease;
	animation: check 0.3s linear ;
}
@keyframes check{
	0%{
		transform: scale(1);
	}
	70%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}
.check__label{
	display: inline-flex;
	gap: 12px;
	line-height: 1.6;
	color: #424551;
}
.check__text{
	align-self: center;
}
.check__label::before{
	content:"";
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	background: #FF3F3A;
	border-radius: 3px;
	transform: translate(0px, 28%);
	
}
/* ------------------------ */
.send__line{
	flex: 0 1 48%;
}
.send__button{
	width: 100%;
}
.button{
	letter-spacing: 0.5px;
	padding: 16px 40px;
	font-weight: 700;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	color: #fff;
	position: relative;
	z-index: 4;
}
.button span{
	position: relative;
	z-index: 2;
}
.button::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: linear-gradient(55.95deg, #8a221e 0%, #a33e04 100%);
	border-radius: 4px;
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.button:hover::before{
	opacity: 1;
	box-shadow: 0px 2px 10px 5px #8a221e;
}
